<!-- 
<div class="toast" id="deleteSection" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-body">
      <h3>Are you really want to delete the user ?</h3>
      <div class="mt-2 pt-2 border-top">
        <button type="button" id="btn_delete2" class="btn btn-primary btn-sm">DELETE</button>
        <button type="button" id="btn_cancel2" class="btn btn-secondary btn-sm" data-bs-dismiss="toast">CANCEL</button>
      </div>
    </div>
  </div>

    <script>
        const btnEdit = document.getElementById('btn_edit');
        const btnDelete = document.getElementById('btn_delete');
        const btnDelete2 = document.getElementById('btn_delete2');
        const btnCancel2 = document.getElementById('btn_cancel2');
        const editSection = document.getElementById('editSection');
        const deleteSection = document.getElementById('deleteSection');
    
        btnEdit.addEventListener('click', () => {
            updateDeleteSection.style.display = 'none';
        });
    
        btnDelete.addEventListener('click', () => {
            deleteSection.style.display = 'block';
        });

        btnCancel2.addEventListener('click', () => {
            deleteSection.style.display = 'none';
        });

        btnDelete2.addEventListener('click', () => {

        });

    </script>   -->
