<%-include('partials/header.ejs')%>

    <div class="row">
        <div class="col">
            <form action="/logout" method="post">
                <button type="submit" class="btn btn-light fw-bold mt-2 float-end">Logout</button>
                <a href="#" class="btn btn fw-bold text-light fs-5 mt-2 float-end">PLACEMENTS</a>
                <a href="#" class="btn btn fw-bold text-light fs-5 mt-2 float-end">STAFFS</a>
                <a href="#" class="btn btn fw-bold text-light fs-5 mt-2 float-end">ALUMNI</a>
            </form>
        </div>
    </div>
    </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="list-group fw-semibold fs-3 mt-5">
                    <a href="#" class="link-underline link-underline-opacity-0 text-light" aria-current="true">
                        Choose Your Subject to LEARN-SMART
                    </a>
                    <a href="#" class="list-group list-group-item-action link-underline link-underline-opacity-0">WEB
                        DESIGNING</a>
                    <a href="#" class="list-group list-group-item-action link-underline link-underline-opacity-0">WEB
                        DEVELOPMENT</a>
                    <a href="#" class="list-group list-group-item-action link-underline link-underline-opacity-0">DATA
                        STRUCTURES</a>
                    <a href="#"
                        class="list-group list-group-item-action link-underline link-underline-opacity-0">DATABASE
                        MANAGEMENT</a>
                    <a href="#"
                        class="list-group list-group-item-action link-underline link-underline-opacity-0">SMARTPHONE
                        SERVICE</a>
                    <a href="#"
                        class="list-group list-group-item-action link-underline link-underline-opacity-0">NETWORKING-ADMINISTRATION</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="btn d-flex justify-content-center mt-2">
                    <button type="button" class="btn btn-outline-light fw-semibold">ABOUT US</button>
                    <button type="button" class="btn btn-outline-light fw-semibold">FEE STRUCTURE</button>
                    <button type="button" class="btn btn-outline-light fw-semibold">CONTACT US</button>
                </div>
            </div>
        </div>
    </div>
    <%-include('partials/footer.ejs')%>